{% extends "host/base.html" %}
{% block head %}
<title>Host Home</title>
<style>
	.btn {
		box-shadow: 0px 1px 0px 0px #1c1b18;
		background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
		background-color: #eae0c2;
		border-radius: 42px;
		border: 2px solid #333029;
		display: inline-block;
		cursor: pointer;
		color: #505739;
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		padding: 14px 30px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #ffffff;
	}

		.btn:hover {
			background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
			background-color: #ccc2a6;
		}

		.btn:active {
			position: relative;
			top: 2px;
		}

	label {
		margin: 5px;
		margin-top: 15px;
	}

	input[type=text] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-left: 15px;
		margin-right: 30px;
	}

	input[type=submit] {
		width: 50%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

		input[type=submit]:hover {
			background-color: #45a049;
		}
</style>
{% endblock head %}



{% block content %}
<p style="color:darkslategrey">a</p>
<div>
	<form action="/action_page.php">
		<label for="fname" style="color:white">First Name</label>
		<input type="text" id="fname" name="firstname" placeholder="Your name..">

		<label for="lname" style="color:white">Last Name</label>
		<input type="text" id="lname" name="lastname" placeholder="Your last name..">

		<label for="ename" style="color:white">Event Name</label>
		<input type="text" id="ename" name="ename" placeholder="The event name..">

		<label for="ename" style="color:white">Custom Event ID (Leave blank if you dont care)</label>
		<input type="text" id="eid" name="eid" placeholder="Enter letters or numbers..">

		<center>
			<input type="submit" value="Submit">
		</center>
	</form>
</div>
{% endblock content %}